<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>django exam</title>
    </head>
    <body>
        <main>
            <h1>start exam murad</h1>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                Necessitatibus et voluptates quam reiciendis corporis earum.
                Dicta, explicabo voluptatum, nulla blanditiis aut debitis, quae
                quibusdam error at ea sunt minus deserunt.

            </p>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Modi
                officiis ea animi. Deleniti facilis minus ipsa aut, aliquid,
                repellat dolores omnis reprehenderit pariatur, nam animi vel
                placeat ex debitis voluptatibus.</p>
        </main>
    </body>
</html>